#wrapper{
    width: 400px;
    margin: 0 auto;

}

.header{
    width: 400px;
    height:100px;
    background-color: #141f40;
}

.main{
    width: 400px;
    height: 250px;
}

.right{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: right;
}

.left-contents{
    width:250px;
    height: 250px;
}

.left-top{
    width: 250px;
    height: 150px;

}

.yellow{
    width: 100px;
    height: 150px;
    background-color: yellow;
    float: left;

}

.left-box{
    width: 150px;
    height: 150px;
    float: left;
}

.skin{
    width: 150px;
    height: 50px;
    background-color: #8c2727;

}

.red{
    width: 150px;
    height: 100px;
    background-color: #ff9e6d;
}

.left-bottom{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}



.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}


.footer{
    width:400px;
    height:100px;
    background-color: #d98d30;
}