*{
    padding: 0;
    margin:0;
}


.main{
    width: 1000px;
    margin: 0 auto;
}

.header-logo{
    width: 200px;
    height: 120px;
    background-color: #add8e6;
    float: left;
}

img{
    width: 200px;
    height:120px;
}



.header-right{
    width: 800px;
    height: 120px;

    float: left;
}


.header-name{
    position: relative;
    width: 800px;
    height: 60px;
    background-color: #87ceeb;
}

.name{
    position: absolute;
    top:20px;
    right: 5px;

}


.loginTime{
    position: relative;
    width: 800px;
    height: 60px;
    background-color: #00ffff;
}

.lastRogin{
    position: absolute;
    top: 20px;
    right: 5px;

}


.contents{
    width: 1000px;
}

.tblttl{
    background-color: #87ceeb;
    font-weight: bold;
    text-align: center;

}

.tbllist{
    background-color: #e0ffff;
}


table{
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    /* border: #fff; */
    border: 0px none;
}



.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }




.footer{
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: #00ced1;

}

.footer-txt{
    position: absolute;
    top:3px;
    left: 0px;

}