*{
    padding: 0;
    margin: 0;
}

body{
    padding-top: 150px;
    color: #fff;
    background-color: #808080;
    text-align: center;
}

h1{
    border-bottom:solid 3px #fff ;
    margin-bottom: 80px;
}

h2{
    padding-top: 20px;
}

.a{
    padding-top: 20px;
}

p{
    padding-top: 10px;
    margin-bottom: 10px;
}